body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

h2 {
    margin-top: 15px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

.stream {
    width: 65%;
    border-radius: 10px;
    border: 3px solid #00ffcc;
}

.stats-box {
    width: 25%;
    background: #111;
    border: 2px solid #00ffc8;
    padding: 15px;
    border-radius: 10px;
}

.stat {
    font-size: 18px;
    padding: 6px;
    border-bottom: 1px solid #444;
}
